@model IEnumerable<DutOnlineVotingSystem2.Models.Candidates>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IsSubscribedToNewsletter)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GetMembershipType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MembershipTypeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.partyName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IsSubscribedToNewsletter)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GetMembershipType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MembershipTypeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.partyName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Name }) |
            @Html.ActionLink("Details", "Details", new { id=item.Name }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Name })
        </td>
    </tr>
}

</table>
